body{
    background-color: rgb(81, 86, 122);
    padding:0;
    border:0;
    margin:0;
  }

header{
    background-color:rgb(27, 203, 171);
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: right;
 }

p.proyectos{
  padding-left: 10px;
  color:white;
  font-size: 5vh;
}

a{
  text-decoration: none;
  color: rgb(93, 223, 28);
  font-size: 3vw;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
a.encabezado{
    text-decoration: none;
    padding: 1%;
    margin-right: 2%;
    width: auto;
    color:hsl(122, 65%, 49%);
    font-size: 4vw;
    background-color: brown;
}

/* vista del capitulo */
p.sinopsis{
  font-size: 6vw;
  display: flex;
  padding-left: 2%;
  color: rgb(160, 239, 13);
}
p.texto-de-sinopsis{
  font-size: 5vw;
  padding-left: 2%;
}
p.lista-de-capitulos{
  font-size: 6vw;
  padding-left: 2%;
}

img.vista-de-portada{
  padding-left: 2%;
  padding-top: 2%;
  display: flex;
  width: 40%;
}
div.contenedor-de-capitulos{
  width: 40%;
}
a.boton-de-capitulo{
  font-size: 5vw;
  background-color: blue;
  justify-content: center;
  margin: 10px;
  padding-left: 2%;
}
p.numero-de-capitulo{
  font-size: 4vw;
  display: flex;
  justify-content: center;
}