.capitulo{
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.portada{
  width: 92%;
  height:35vw;
  display: block;
  margin: 0 auto;
}

.portada-mayor{
  display:flex;
  margin-left: 2%;
  margin-right: 2%;
}

.divDePortada{
  width: 25%;
  align-items: top;
}
div{
  margin: 0 auto;
  display: grid;
  border: 1px solid #18a83e;
}
.titulo-de-manhwa{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 6%;
  border: 1px solid #9b12b3;
}
.imagen-de-portada{
  display:flex;
}