body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: rgb(117, 210, 118);
}
a{
    text-decoration: none;
    font-size: 3vh;
}

.imagen-proyecto{
    display: flex;
    width: 90%;
    height:auto;
    border-radius: 10px;
    position: relative;
    left: 5%;
}


.contenedor{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            140px,
            190px
        )
    );
    gap: 7px;
}

p.titulo-proyecto{
    text-align: center;
}
li{
    list-style: none;
    font-size: 3vh;
}

li.portada{
    list-style: none;
}
h1{
    text-align: center;
}
ul.encabezado{
    display: flex;
    gap: 15px;
    justify-content: end;
    padding-right: 12px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3{
    padding-left: 15px;
}
header{
    background-color: aquamarine;
}

h2.titulo-capitulo{
    display: flex;
    justify-content: center;
}

.portada-proyecto{
    width: 200px;
}

.principal{
    display: flex;
    padding: 10px;
    gap: 20px;
    max-width: 800px;
    border-radius: 20px;
    background-color: aquamarine;
}
.todo{
    display: flex;
    width: 100%;
    justify-content: center;
}
.imagen{
    display: flex;
    align-items: center;
}

.lista-capitulos{
    display: grid;
    place-content: center;
    width: 350px;
}

.list{
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: aquamarine;
}
.texto-sinopsis{
    font-size: 15px
}
