body{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
a{
    text-decoration: none;
}

.imagen-proyecto{
    display: flex;
    width: 90%;
    height:auto;
    border-radius: 10px;
    position: relative;
    left: 5%;
}


.contenedor{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    justify-content:center;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            140px,
            190px
        )
    );
    gap: 7px;
    background-color: aquamarine;
}

p.titulo-proyecto{
    text-align: center;
}
li{
    list-style: none;
}

li.portada{
    list-style: none;
}
h1{
    text-align: center;
}
ul.encabezado{
    display: flex;
    gap: 15px;
    justify-content: end;
    padding-right: 12px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
}

h3{
    padding-left: 15px;
}
header{
    background-color: aquamarine;
}